node_modules
build
out
.build
.solcache
.saddle_history
.scencache
.tscache
.tsbuilt
.solcachecov
junit.xml
coverage
tests/Scenarios
networks/*.json
package-lock.json
.idea/
#yarn.lock
#scenario/yarn.lock
scenario/package-lock.json
*.log
networks
.env
.secretKey
verify.sol
.secretPhrase
artifacts
cache